<main class="mt-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">
                <div class="card">
                    <div class="card-header text-center">
                        <img class="card-img-top mx-auto my-3" src="/img/logo.jpg" alt="logo" style="width: 200px; height: auto; display: block;">
                        <h2 class="full">Proyecto Full Stack</h2>
                        <h3 class="p-4">CRUD - Node.js y MySQL</h3>
                    </div>
                    <div class="card-body text-center">
                        <p>Para crear un empleado puedes usar el botón "Crear Nuevo Empleado" o puedes dar click en el menú, opción Crear Nuevo Empleado</p>
                        <a href="/add" class="btn btn-primary">Crear Nuevo Empleado</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
