.full {
  color: goldenrod;
  font-weight: bold;
  line-height: .1;
  margin-top: 50px;
}

@media only screen and (max-width:321px){
.prueba th{
  font-size: 12px;
}

.prueba td {
  font-size: 14px !important;
  padding-left: 1px !important;
  padding-right: 1px !important;
}

.btn-mod {
  padding: 3px !important;
}

}